<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47757643643-upqqpm5fvqlttok54a3veiefmp8vtgj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47757643643-upqqpm5fvqlttok54a3veiefmp8vtgj8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47757643643-nbnlk37hhnide8sv96g1ishmlcrg5mc5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjLTfdcvMDCrJnblIixEnTuD67CpKVT2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>47757643643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitr</string>
	<key>PROJECT_ID</key>
	<string>fitrauth-d3011</string>
	<key>STORAGE_BUCKET</key>
	<string>fitrauth-d3011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47757643643:ios:bd540f4c00cd108a4777de</string>
</dict>
</plist>